
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#dddbd9;
    /*   background-image: url(Images/magicpattern-grid.png);    */
   
}
/* ................Theme modes.....*/
.theme-modes{
    position: absolute;
    float: left;
    top: 5px;
    right: 5px;
}
.theme-modes img{
    width: 2vw;
}
/*................wrappers...........................*/
.wrapper-1{
    width: 40vw;
    height: 50vh;
    border-radius: 5px;
    background:whitesmoke;
    box-shadow: 1px 1px 4px grey;
    justify-content: center;
    text-align: center;
    margin: 3% auto;
    padding: 0 0 2%;
    right: 0;
    left: 0;   
}
.wrapper-2{
    width: 40vw;
    height: 50vh;
    border-radius: 5px;
    background:whitesmoke;
    box-shadow: 1px 1px 4px grey;
    margin: 0% auto 4%;
    right: 0;
    left: 0; 
    padding:40px;
}
 img.logo{
    width: 6rem;
}
.wrapper-2 a::after{
    content: '';
    display: none;
    height: 0.5px;
    width: 36vw;
   left: 31%;
   top: 114%;
   opacity: 0.6;
    position: absolute;
    background: grey;
}
.wrapper-2 h2, p, a{
    text-align: center; 
}

.wrapper-2 .useful-links{
    position: relative;

}
.wrapper-2 .useful-links ul{
 display: flex;
 text-align: center;
}

.wrapper-2 .useful-links ul li{
    list-style: none;
    margin: 12px 12px;
}

.wrapper-2 .useful-links ul li a{
    text-decoration: none;
    font-size: 16px;
    justify-content: space-between;
}

/*................ form 1.......................*/
.form-1{
    margin: 16px 0;
}
.form-1 button{
    margin: 8px auto;
    padding: 6px 0;
    width: 25vw;
    color: black;
    font-size: 18px;
   border-radius: 4px;
   border: 1px solid  rgb(183, 179, 179);;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}

.form-1 button i{
    margin: 0 10px ;
}
.form-1 button:hover{
    background: rgb(183, 179, 179);
    opacity: 0.6;
    transition: 0.4s ease;
}

 /*.....................form 2.........................*/
.wrapper-1 .form-2{
    display: none;
}

.wrapper-1 .form-2 input{
    width: 20vw;
    height: 5vh;
    border-radius: 4px;
    outline: 1px solid grey;
    border: none;
    padding: 0 8px;
    margin: 5px 0; 
}
.wrapper-1 .form-2 i.eye{
    display: none;
    cursor: pointer;
    position:absolute;
    top: 38.6%;
    left: 61%;
    bottom: 50%;
}
.wrapper-1 .form-2 input:focus{
    outline: 1px solid orange;
    border: none;
}
::placeholder{
    font-weight:600;
}
/*..................form validation.......................*/
input:user-invalid{
    border: 1px solid red;
   }
   input:user-invalid::placeholder{
    color: red;
}

input:user-valid{
    border: 1px solid orange;
    background:rgb(255, 145, 0);
}
input+span{
    color: red;
    display: none;
}
input:user-invalid+span{
    display: block;
   
}
input:user-invalid{
    animation: shake 0.1s linear 5;
}
@keyframes shake{
    0%{ transform: translateX(0);}

    25%{ transform: translateX(-2px);}

    50%{ transform: translateX(0);}

    75%{ transform: translateX(2px);}

    100%{ transform: translateX(0);}
}
.form-2 button{
        margin: 8px auto;
        padding: 6px 12px;
        width: 20vw;
        height: 6vh;
        font-size: 18px;
       border-radius: 4px;
       background:rgb(255, 145, 0);
       border:none;
       font-weight: bold;
        cursor: pointer;
    }
    .form-2 button:hover{
        opacity: 0.7;
        transition: 0.4s ease;
    }
    .social-icons img{
        width: 1.4rem;
        margin: 2px 2px;
        cursor: pointer;
    }
    /*.....................form 3.........................*/
.wrapper-1 .form-3{
    display: none;
}

.wrapper-1 .form-3 h3{
   color: brown;
   margin: 20px 0;
}
.wrapper-1 .form-3 a img.back-arrow{
    width: 3rem;
}

.messageDiv{
    color: red;
    opacity: 0;
    padding: 10px 5px;
    margin: auto;
    background: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    animation: fadeout 7s forwards;
    width: 25vw;
}

/*...........................forgot password page.............................*/
.container{
    width: 50%;
    border: none;
    box-shadow: 1px 1px 4px grey;
    border-radius: 5px;
    height: 45vh;
    margin: 36px auto;
    padding: 20px;
}
.container a.back-link{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 17px;
    margin: 16px 20px;
}

.container h2{
    text-align: center;
    padding: 20px 0;
}

.container form{
    background: whitesmoke;
    box-shadow: 1px 1px 4px whitesmoke;
    width: 45vw;
    height: 25vh;
    margin: auto;
    border-radius: 5px;
}
.container form p{
    font-size: 18px;
    text-align: center;
    margin:auto;
    padding: 20px 0;
}
.container form input{
    margin: 20px 45px;
    align-items: center;
    height: 6vh;
    width: 30vw;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid grey;
    outline: 0;
}
.container form button.submit-btn{
    width: 100px;
    height: 36px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background: orange;
    margin: aut0;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.7;
    font-weight: 600;
}
.container form button.submit-btn:hover{
    opacity: 1;
}

/*..........................................................Home page...............................*/
.navbar{
    background-color:rgb(213, 204, 225);
    height: 13vh;
    display: flex;
}

.navbar .school-logo{
    display: flex;
    position: absolute;
    left: 40px;
    top: 12px;
}
.navbar .school-logo img{
    width: 5vw;
}

.navbar .school-logo h2{
    font-size: 30px;
   text-align: center;
   margin: auto;
    padding: 0 12px;
}
.navbar .school-logo h2 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
}
.navbar .school-logo h2 a:hover{
    opacity: 0.6;
    transition: 0.2s;
}
.navbar .lang{
text-align: center;
margin-top: 2%;
}

.navbar .lang select{
    width: auto;
    padding: 2px 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    outline: 0;
    background: none;
    font-size: 18px;
    font-weight: 600;
}
.nav-links{
    display:inline-flex;
    margin: auto;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    margin: 0 50px ;
    justify-content: space-around;
    text-decoration: none;
    font-size: 22px;
    color: black;
    font-weight:600;
    list-style: none;
    cursor: pointer;
}
.nav-links ul li:hover{
    color: brown;
}
/*.......................................................main page....................*/
.main-page .section-1{
    background: none;
    display: flex;
    box-shadow: 1px 1px 8px rgb(226, 225, 225);
    height: auto;
}
.main-page .section-1 .column-1{
    padding: 12px;
    margin: auto;
}
.main-page .section-1 .column-1 form{
    margin: 36px auto;
}
.main-page .section-1 .column-1 form input{
    width: 100%;
    height: 7vh;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    background: rgb(227, 226, 226);
    padding: 0 12px;
}
.main-page .section-1 .column-1 form input:focus, .main-page .section-1 .column-1 form input:hover{
    background: none;
}

.main-page .section-1 .column-1 form label button{
    position: absolute;
    height: 5vh;
    width: 45px;
    border-radius: 5px ;
    margin-left: -55px;
    margin-top: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid orangered;
    background: orangered;
}
.main-page .section-1 .column-1 form label button i{
    font-size: 18px;
}
.main-page .section-1 .column-1 form label button:hover{
    background: none;
    transition: 0.4s;
}
.main-page .section-1 .column-1 a{
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid orange;
    color: black;
    height: 30px;
    padding: 10px;
    margin: 12px 10px ;
    background: rgb(255, 89, 29);
}
.main-page .section-1 .column-1 a:hover{
background: none;
transition-duration: 0.4s;
}
/*............................section 2-----------..................*/

.main-page .section-2{
    box-shadow: 1px 2px 4px grey;
    padding: 12px 24px ;
    height: 40vh;
}

.main-page .section-2 .column-1{
  margin: 5% 2%;
}

.main-page .section-2 .column-1 span{
    background: orangered;
    padding: 30px;
    border-radius: 8px;
}

.main-page .section-2 .column-2{
   float: right;
   margin-top: -10% ;
   margin-left: -70%;
}

/*...............................................for students page.....................*/

.for-students {
    margin-bottom: 10%;
    display: none;
}

.for-students .column-1{
background: rgb(233, 230, 230);
width: 100%;
height: 20vh;
display: flex;
}
.for-students .column-1 h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 40px;
}
.for-students .column-2{
    background: whitesmoke;
    height: 60vh;
    width: 100%;
}

.for-students .column-2 a{
    display: flex;
    margin: 0 25px;
    color: black;
    font-size: 18px;
    text-decoration: none;
}
.for-students .column-2 a:hover{
    color: brown;
}
.for-students .column-2 a i{
    margin: 0 16px;
    color: orangered;
    width: 50px;
    font-size: 20px;
    transform: linear 0.4s;
    transition-duration: 0.5s;
}
.for-students .column-2 a:hover i{
  transform: translateX(12px);
}
.for-students .column-2 .user-feedback{
    margin:auto ;
    position: absolute;
    display: block;
    left: 45%;
}
.for-students .column-2 .user-feedback .feedback-buttons{
    display: flex;
   margin: 2% 20%;
}
.for-students .column-2 .user-feedback button{
    width: 75px;
    height: 32px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid orangered;
    border-radius: 5px;
    margin: 6px 12px;
    cursor: pointer;
}
.user-feedback button.btn-1{
    background: orangered;
}
.user-feedback button.btn-1:hover{
    background: none;
}
.user-feedback button.btn-2:hover{
    background: orangered;
}


/*...............................................our school page.....................*/
.our-school{
    display: none;
}
.our-school .column-1{
    background: rgb(233, 230, 230);
    width: 100%;
    height: 20vh;
    display: flex;
    }
    .our-school .column-1 h1{
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 40px;
    }
    .our-school .column-2{
        background: whitesmoke;
        height: 60vh;
        width: 100%;
    }
    .our-school .column-2 a{
        display: flex;
        margin: 0 25px;
        color: black;
        font-size: 18px;
        text-decoration: none;
    }
    .our-school .column-2 a:hover{
        color: brown;
    }
    .our-school .column-2 a i{
        margin: 0 16px;
        color: orangered;
        width: 50px;
        font-size: 20px;
        transform: linear 0.4s;
        transition-duration: 0.5s;
    }
    .our-school .column-2 a:hover i{
      transform: translateX(12px);
    }
    .our-school .column-2 .user-feedback{
        margin:auto ;
        position: absolute;
        display: block;
        left: 45%;
    }
    .our-school .column-2 .user-feedback .feedback-buttons{
        display: flex;
       margin: 2% 20%;
    }
    .our-school .column-2 .user-feedback button{
        width: 75px;
        height: 32px;
        font-size: 18px;
        font-weight: 600;
        border: 1px solid orangered;
        border-radius: 5px;
        margin: 6px 12px;
        cursor: pointer;
    }
    .user-feedback button.btn-1{
        background: orangered;
    }
    .user-feedback button.btn-1:hover{
        background: none;
    }
    .user-feedback button.btn-2:hover{
        background: orangered;
    }
    
/*...........................footer.............................*/
.footer-1{
    position:relative;
    bottom: 0;
    padding-top: 12px;
    background: #c6c3bc;
    width: 100%;
    height: 20vh;
    display: flex;
}
.footer-1 p{
    text-align: center;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    margin: auto;
}
.footer-1 p i{
 font-size: 20px;  
 margin: 4px 5px;
 cursor: pointer;
}
/*....................footer for main page....................*/

footer {
    padding: 20px 0;
    background: #090d14;
    color: white;
    width: 100%;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 60px;
  }
  
  .footer-column {
    width: 20%; /* Adjust the width as needed */
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 20px;
  }
  .footer-column .social-icons{
    display: grid;
    margin: 0 5%;
  }
  .footer-column .social-icons i{
    margin: 12px;
    font-size: 22px;
    cursor: pointer;
  }
  .footer-column .social-icons i:hover{
    color: brown;
  }
  .footer-column h2 {
    color: #faf7f7;
    margin: 0 0 24px;
  }

  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .footer-column ul li:hover{
    color: brown;
  }

footer .useful-links ul li{
    list-style-type:none;
    margin: 12px 0;
}
.footer-columns::after{
    content: '';
    width: 75%;
    height: 3px;
    background: white;
    position: absolute;
    bottom: -60%;
    left: 12%;
}
/*.............................Support page........................................*/
.section-1{
    background-color:rgb(164, 151, 182);
    height: 13vh;
}

.section-1 .school-logo{
    float: left;
    display: flex;
    position: absolute;
    left: 40px;
    top: 12px;
}
.section-1 .school-logo img{
    width: 5vw;
}

.section-1 .school-logo h2{
    font-size: 30px;
   text-align: center;
   margin: auto;
    padding: 0 12px;
}


.section-1 .lang select{
    width: auto;
    padding: 2px 8px;
    margin-top: 2%;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    float: inline-end;
    outline: 0;
    background: none;
    font-size: 20px;
    font-weight: 600;
}

.search-section{
    background-color:rgb(49, 43, 58);
    height: 50vh;
    width: 100%;
}
.search-section form{
    margin:auto;
    color: white;
    text-align: center;
}
.search-section form .support-image img{
    width: 30vw;
    height: 50vh;
    float: left;
    display: none;
}
.search-section form  input{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 12px;
    outline: 0;
    font-size: 18px;
}
::placeholder{
    padding: 0 16px;
    font-size: 18px;
}

footer.support-footer{
    position: absolute;
    bottom: 0;
    margin-bottom: -8%;
    z-index: 2;
    background: none;
    display: flex;
}

footer.support-footer p{
    text-align: center;
    margin: auto;
    font-size: 16px;
    justify-content: space-between;
}
footer.support-footer p i{
    justify-content: space-evenly;
    margin: 0 12px;
    cursor: pointer;
}
footer.support-footer p i:hover{
    color: rgb(232, 185, 185);
    transition: 0.2s;
}
	svg {
	position: absolute;
	left: 0;
    opacity: 0.7;
    bottom: 0;
    width: 100%;
    height:30%;
    margin-bottom: -10%;
	box-sizing: border-box;
	display: block;
    background:radial-gradient(transparent to top, rgb(119, 120, 208));
   
	}






/* .....................Extra small devices (phones, 600px and down)...................... */
@media only screen and (max-width: 600px) {
    .wrapper-1{
      width: fit-content;
      width: 90%;
    }
    .wrapper-1 .form-1 button{
        width: fit-content;
        padding-right:5px ;
    }
    .wrapper-1 .form-2 button{
        width: 20vw;
        height: 5vh;
        width: fit-content;
    }
    .wrapper-2{
        width: fit-content;
        width: 90%;
        overflow-y: auto;
    }
.wrapper-1 .form-2 input{
    width: fit-content;
}
    footer{
        display: flexbox;
        position: relative;
        bottom: -10%;
        top: 100%;
    }
  }

  /* .................Small devices (portrait tablets and large phones, 600px and up).............. */
@media only screen and (min-width: 600px) {
    .wrapper-2{
        width: fit-content;
        width: 90%;
        overflow-y: auto;
    }
    .wrapper-1{
        width: fit-content;
        width: 90%;
        overflow-y: auto;
    }
    .wrapper-1 .form-1 button{
        width: fit-content;
        padding-right:5px ;
    }
    .wrapper-1 .form-2 button{
        width: 20vw;
        height: 5vh;
        width: fit-content;
    }
    .wrapper-2{
        width: fit-content;
        width: 90%;
        overflow-y: auto;
    }
.wrapper-1 .form-2 input{
    width: fit-content;
}
  }
  
  /* ............Large devices (laptops/desktops, 992px and up) ................*/
@media only screen and (min-width: 992px) {
    .wrapper-2{
        width: 40vw;
        height: 50vh;
    }
    .wrapper-1{
        width: 40vw;
        height: 50vh;
        height: fit-content;

    }

    .wrapper-1 .form-1 button{
        width: 25vw;
        height: 5vh;
    }
    .wrapper-1 .form-2 input{
        width: 25vw;
        height: 5vh;
    }
    .wrapper-1 .form-2 button{
        width: 20vw;
        height: 5vh;
    }
  } 